<!DOCTYPE html>
<html lang="en" ng-app="laAir">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="/Library/others/tingyun-rum.js"></script>
    <title></title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="canonical" href="http://www.loongair.cn/"/>

    <link rel='stylesheet' href='/Resource/style/style.css' type='text/css' media='all'>
    <link href="/Resource/images/cl.ico" rel="icon" type="image/x-icon"/>

    <![if !IE]>
    <script src="/Library/angular/angular1.4.8.min.js"></script>
    <script src="/Library/angular/angular-cookies1.4.8.min.js"></script>
    <![endif]>

    <!--[if gte IE 9]>
    <script src="/Library/angular/angular1.4.8.min.js"></script>
    <script src="/Library/angular/angular-cookies1.4.8.min.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="/Library/angular/angular1.2.28.min.js"></script>
    <script src="/Library/angular/angular-cookies1.2.28.js"></script>
    <![endif]-->

    <!--[if lte IE 9]>
    <script src="/Library/others/Placeholders.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="/Library/others/json2.js"></script>
    <![endif]-->

    <script src="/Service/entityClass/laEntityClass.js"></script>
    <script src="/Service/serviceImpl/laGlobalServiceImpl.js"></script>
    <script src="/Service/serviceImpl/laOrderServiceImpl.js"></script>
    <script src="/Service/serviceImpl/laUserServiceImpl.js"></script>
    <script src="/Service/serviceImpl/laAir.js"></script>

    <script type="text/javascript" src="/Library/others/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/Library/others/bootbox.min.js"></script>
    <script type="text/javascript" src="/B2C/js/application.js"></script>
    <script type="text/javascript" src="/Library/others/Base64.js"></script>

    <script src="controller/QueryOrderDetailCtl.js"></script>
</head>
<body ng-controller="laAir_ETicket_QueryOrderDetailPageCtl">

<div ng-include="'/Resource/commonHtml/header.html'"></div>

<div class="wrapper">
    <div class="container">
        <div class="panel-sm panel">
            <div class="ff_form main-fm">
                <h2>查询订单</h2>

                <div>
                    <dl>
                        <dt>订单号</dt>
                        <dd class="PhoneNumber">
                            <input type="text" class="text" placeholder="请输入要查询的订单号" ng-model="orderId">
                        </dd>
                    </dl>
                    <dl>
                        <dt>联系人手机号码</dt>
                        <dd class="NewPassword">
                            <input type="text" class="text" placeholder="请输入订票时的联系人手机号码" ng-model="mobile">
                        </dd>
                    </dl>
                    <dl>
                        <dt>验证码</dt>
                        <dd class="NewPassword">
                            <input type="text" class="text" placeholder="请输入图片验证码" ng-model="verifyCode">&nbsp;&nbsp;
                            <a href="javascript:;" ng-click="btnChangeVerifyCode();" title="点击图片换一张"><img ng-src="data:image/gif;base64,{{ImgVerifyCode}}" style="width:82px;height:32px;"></a>&nbsp;&nbsp;
                            <a class="link" href="javascript:;" ng-click="btnChangeVerifyCode();">换一张</a>
                        </dd>
                    </dl>
                    <div class="clearfix"></div>
                </div>
                <div class="text_center">
                    <a class="btn btn-large" href="javascript:;" ng-click="btnQueryOrderInfoWithoutLogin();">提交查询</a>
                </div>
                <p class="text_center"> 忘记订单号和联系人手机号码？可拨打长龙航空热线&nbsp;&nbsp;<span class="red">0571-89999999</span></p>
                <!--<p class="text_center"><a class="link" style="color:red;" href="http://old.loongair.cn/B2C/ETicket/OrderSearch" target="_blank">查询老官网订单？请点击这里</a></p>-->
            </div>
        </div>

        <div class="divide"></div>
    </div>
</div>

<div ng-include="'/Resource/commonHtml/footer.html'"></div>

</body>
</html>