<div class="header" ng-controller="laAir_CommonHtmlHeaderCtl">
    <div class="container clearfix">
        <a class="logo pull-left" href="/B2C/home.html"></a>

        <div class="pull-right">
            <div class="searchform">
                <!--
                <input type="text" class="input-search" placeholder="输入关键字搜索"/>
                <button type="submit" class="searchbtn">提交</button>-->

                <div ng-if="UserLogined" style="float:left;">
                    <div class="mymessage" ng-if="userInfo_C.IsFrequentPassenger">
                        <div class="pull-left"><img src="/Resource/images/hi.png" width="32"></div>
                        <p>欢迎{{userInfo_C.Level}}会员{{userInfo_C.Name}}</p>
                        <p>您账户可用积分 <a class="red">{{userInfo_C.Integral}}</a></p>
                    </div>
                    <span ng-if="userInfo_C.IsFrequentPassenger">
                        <a href="javascript:;" ng-click="btnUserLogoutClick();"><img src="/Resource/images/refresh.png"
                                                                                     style="width:18px;height:18px;">&nbsp;退出</a>
                    </span>

                    <div ng-if="!userInfo_C.IsFrequentPassenger">
                        <img src="/Resource/images/welcomebg.png" style="width:150px; margin-top: -2px;">
                        <span style="margin-left: -150px; color:white;width:150px;">
                            <a href="/Member/OrderList.html" style="color:white;">
                                &nbsp;{{userInfo_C.Name}}&nbsp;欢迎来长龙&nbsp;</a>
                        </span>
                        <span>
                            <a href="javascript:;" ng-click="btnUserLogoutClick();"><img src="/Resource/images/refresh.png"
                                                                                         style="width:18px;height:18px;">&nbsp;退出</a>
                        </span>
                    </div>
                </div>

                <div ng-if="!UserLogined" style="float:left;">
                    <span>欢迎来长龙</span>
                    <a href="/Member/Login.html"><img src="/Resource/images/user_login.png"
                                                      style="width:18px;height:18px;">&nbsp;登录</a>
                    <a href="/Member/Register.html"><img src="/Resource/images/user_reg.png"
                                                         style="width:18px;height:18px;">&nbsp;注册</a>
                </div>

                <div style="float:left;">
                    <span>
                        <a class="fortips" data-title="扫描下载客户端" data-name="tooltips" data-tips="<img src='/Resource/images/APP_QRCode.jpg'><img src='/Resource/images/AD_QRCode.jpg'>">客户端<i class="arrow-down"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="topmenu">
        <div class="container">
            <!--
            <ul class="nav">
                <li ng-class="{true:'active',false:''}[isHomeNav]">
                    <a class="overhref" href="/B2C/home.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">首页</a>
                    <a class="outhref" href="/B2C/home.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">首页</a>
                </li>
                <li ng-class="{true:'active',false:''}[isSchTripNav]">
                    <a class="overhref" href="javascript:;" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">机票<i class="arrow-down" style="border-top-color: black;"></i></a>
                    <a class="outhref" href="javascript:;" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">机票<i class="arrow-down" style="border-top-color: white;"></i></a>
                    <div class="secondary_menu hide">
                        <div class="s_menu">
                            <div class="span4">
                                <div>
                                    <img src="/Resource/images/bookplan1.png"><a href="/ETicket/AirlineList.html" style="font-size:14px;">机票预订</a> &nbsp; | &nbsp;
                                    <img src="/Resource/images/bookplan2.png"><a href="/ETicket/QueryOrderDetail.html" style="font-size:14px;">查询订单</a> &nbsp; | &nbsp;
                                    <img src="/Resource/images/bookplan3.png"><a href="/ETicket/Checkin.html" style="font-size:14px;">办理值机</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-class="{true:'active',false:''}[isTravelNav]">
                    <a class="overhref" href="/Travel/Transport/PassengerInfo.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">出行帮助</a>
                    <a class="outhref" href="/Travel/Transport/PassengerInfo.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">出行帮助</a>
                </li>
                <li ng-class="{true:'active',false:''}[isHolidayNav]">
                    <a class="overhref" href="javascript:;" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">长龙假期<i class="arrow-down" style="border-top-color: black;"></i></a>
                    <a class="outhref" href="javascript:;" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">长龙假期<i class="arrow-down" style="border-top-color: white;"></i></a>
                    <div class="secondary_menu hide">
                        <div class="s_menu">
                            <div class="span4">
                                <div>
                                    <img src="/Resource/images/booktic.png"><a href="/Holiday/Holiday.html" style="font-size:14px;">门票</a> &nbsp; | &nbsp;
                                    <img src="/Resource/images/bookcar.png"><a href="/Car/Car.html" style="font-size:14px;">用车</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-class="{true:'active',false:''}[isClubNav]">
                    <a class="overhref" href="/Member/Club.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">会员俱乐部</a>
                    <a class="outhref" href="/Member/Club.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">会员俱乐部</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li ng-if="UserLogined" ng-class="{true:'active',false:''}[isMyInfoNav]">
                    <a class="overhref" ng-if="!userInfo_C.IsFrequentPassenger" href="/Member/MyInfo.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">我的信息</a>
                    <a class="outhref" ng-if="!userInfo_C.IsFrequentPassenger" href="/Member/MyInfo.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">我的信息</a>

                    <a class="overhref" ng-if="userInfo_C.IsFrequentPassenger" href="/Member/MyVipInfo.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">我的信息</a>
                    <a class="outhref" ng-if="userInfo_C.IsFrequentPassenger" href="/Member/MyVipInfo.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">我的信息</a>
                </li>
            </ul>
            -->
            <ul class="nav">
                <li class="mouseout">
                    <a href="/B2C/home.html">首页</a>
                </li>
                <li class="mouseout">
                    <a href="javascript:;">机票<i class="arrow-down"></i></a>
                    <div class="secondary_menu hide">
                        <div class="s_menu" style="padding: 10px;">
                            <div class="span4" style="width:60%;">
                                <div>
                                    <img class="s_menu_image" src="/Resource/images/bookplan1.png"><a href="/ETicket/AirlineList.html" style="font-size:14px;">机票预订</a> &nbsp; | &nbsp;
                                    <img class="s_menu_image" src="/Resource/images/bookplan2.png"><a href="/ETicket/QueryOrderDetail.html" style="font-size:14px;">查询订单</a> &nbsp; | &nbsp;
                                    <img class="s_menu_image" src="/Resource/images/bookplan3.png"><a href="/ETicket/Checkin.html" style="font-size:14px;">办理值机</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mouseout">
                    <a href="/Travel/Transport/PassengerInfo.html">出行帮助</a>
                </li>
                <li class="mouseout">
                    <a href="javascript:;">长龙假期<i class="arrow-down"></i></a>
                    <div class="secondary_menu hide">
                        <div class="s_menu" style="padding: 10px;">
                            <div class="span4" style="width:60%;">
                                <div>
                                    <img class="s_menu_image" src="/Resource/images/booktic.png"><a href="/Holiday/Holiday.html" style="font-size:14px;">门票</a> &nbsp; | &nbsp;
                                    <img class="s_menu_image" src="/Resource/images/bookcar.png"><a href="/Car/Car.html" style="font-size:14px;">用车</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mouseout">
                    <a href="/Member/Club.html">会员俱乐部</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li ng-if="UserLogined"  class="mouseout">
                    <a ng-if="!userInfo_C.IsFrequentPassenger" href="/Member/MyInfo.html">我的信息</a>
                    <a ng-if="userInfo_C.IsFrequentPassenger" href="/Member/MyVipInfo.html">我的信息</a>
                </li>
            </ul>
        </div>
    </div>
</div>

