<!DOCTYPE html>
<html lang="en" ng-app="laAir">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="/Library/others/tingyun-rum.js"></script>
    <title></title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="canonical" href="http://www.loongair.cn/"/>

    <link rel='stylesheet' href='/Resource/style/style.css' type='text/css' media='all'>
    <link href="/Resource/images/cl.ico" rel="icon" type="image/x-icon"/>

    <![if !IE]>
    <script src="/Library/angular/angular1.4.8.min.js"></script>
    <script src="/Library/angular/angular-cookies1.4.8.min.js"></script>
    <![endif]>

    <!--[if gte IE 9]>
    <script src="/Library/angular/angular1.4.8.min.js"></script>
    <script src="/Library/angular/angular-cookies1.4.8.min.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="/Library/angular/angular1.2.28.min.js"></script>
    <script src="/Library/angular/angular-cookies1.2.28.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="/Library/others/json2.js"></script>
    <![endif]-->

    <script src="/Service/entityClass/laEntityClass.js"></script>
    <script src="/Service/serviceImpl/laGlobalServiceImpl.js"></script>
    <script src="/Service/serviceImpl/laOrderServiceImpl.js"></script>
    <script src="/Service/serviceImpl/laUserServiceImpl.js"></script>
    <script src="/Service/serviceImpl/laAir.js"></script>

    <script type="text/javascript" src="/Library/others/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/Library/others/bootbox.min.js"></script>
    <script type="text/javascript" src="/B2C/js/application.js"></script>

    <script src="controller/NewsListCtl.js"></script>
</head>
<body ng-controller="laAir_News_NewsListPageCtl">

<div ng-include="'/Resource/commonHtml/header.html'"></div>

<div class="wrapper">
    <div class="container">
        <div class="panel-sm panel">
            <div class="article">
                <div class="article">
                    <h2>新闻列表</h2>

                    <div class="art-content">
                        <ul class="art-list">
                            <li ng-repeat="nw in NewsList|filter:{v:true} track by $index">
                                <a href="/Others/News/News.html?ID={{nw.n}}" target="_blank"><i></i>{{nw.t}}</a>
                                <span class="right">{{nw.d}}</span>
                            </li>
                        </ul>
                        <div class="submit-pay" style="text-align:right;">
                            <a ng-class="{true:'btn',false:'btn btn-gray'}[pageIndex>1]" href="javascript:;" ng-disabled="pageIndex>1" ng-click="btnPrePageClick();" style="padding: 5px 10px 5px 10px;">上一页</a>&nbsp;&nbsp;
                            <a href="javascript:;" ng-if="pageIndexList[0].p >pageIndexCnt" ng-click="btnPageClick(pageIndexList[0].p -1)">...</a>&nbsp;&nbsp;
                            <span ng-repeat="p in pageIndexList"><a ng-class="{true:'btn', false:'btn btn-gray'}[p.s]" href="javascript:;" ng-click="btnPageClick(p.p);" style="padding: 5px 10px 5px 10px;">{{p.t}}</a>&nbsp;&nbsp;</span>
                            <a href="javascript:;" ng-if="pageIndexList[pageIndexList.length-1].p <totalPage" ng-click="btnPageClick(pageIndexList[pageIndexList.length-1].p +1)">...</a>&nbsp;&nbsp;
                            <a ng-class="{true:'btn',false:'btn btn-gray'}[pageIndex<totalPage]" href="javascript:;" ng-disabled="pageIndex<totalPage" ng-click="btnNextPageClick();" style="padding: 5px 10px 5px 10px;">下一页</a>&nbsp;&nbsp;
                            <span>
                                共{{totalPage}}页&nbsp;&nbsp;到第&nbsp;<input type="text" id="inputPindex" ng-model="inputPageIndex" style="width:20px;">&nbsp;页&nbsp;&nbsp;
                                <a class="btn" href="javascript:;" ng-click="btnGoPage();" style="padding: 5px 10px 5px 10px;">确定</a>
                            </span>
                        </div>
                        <!--
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{true:'active',false:'disabled'}[pageIndex>1]"><a href="javascript:;" ng-disabled="pageIndex>1" ng-click="btnPrePageClick();">«</a></li>
                                <a href="javascript:;" ng-if="pageIndexList[0].p >pageIndexCnt" ng-click="btnPageClick(pageIndexList[0].p -1)">...</a>
                                <li ng-repeat="p in pageIndexList" ng-class="{true:'active', false:'disabled'}[p.s]"><a href="javascript:;" ng-click="btnPageClick(p.p);">{{p.t}}</a></li>
                                <a href="javascript:;" ng-if="pageIndexList[pageIndexList.length-1].p <totalPage" ng-click="btnPageClick(pageIndexList[pageIndexList.length-1].p +1)">...</a>
                                <li ng-class="{true:'active',false:'disabled'}[pageIndex<totalPage]"><a href="javascript:;" ng-disabled="pageIndex<totalPage" ng-click="btnNextPageClick();">»</a></li>
                            </ul>
                            <ul>
                                <li>
                                    <span style="border: 0px;padding: 2px 12px;box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);">共{{totalPage}}页&nbsp;&nbsp;到第&nbsp;
                                        <input type="text" id="inputPindex" ng-model="inputPageIndex" style="width:20px;">&nbsp;页&nbsp;&nbsp;
                                        <a class="btn" href="javascript:;" ng-click="btnGoPage();" style="padding: 5px 10px 5px 10px;">确定</a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>

        <div class="divide"></div>
    </div>
</div>

<div ng-include="'/Resource/commonHtml/footer.html'"></div>

</body>
</html>