<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org" id="ng-app" ng-app="laAir">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache, must-revalidate">
    <meta http-equiv="Cache" content="no-cache">
    <script src="/Library/others/tingyun-rum.js"></script>

    <title></title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link rel="canonical" href="http://www.loongair.cn/"/>

    <link rel='stylesheet' href='/Resource/style/style.css' type='text/css' media='all'>
    <link href="/Resource/images/cl.ico" rel="icon" type="image/x-icon"/>

    <![if !IE]>
    <script src="/Library/angular/angular1.4.8.min.js"></script>
    <script src="/Library/angular/angular-cookies1.4.8.min.js"></script>
    <![endif]>

    <!--[if gte IE 9]>
    <script src="/Library/angular/angular1.4.8.min.js"></script>
    <script src="/Library/angular/angular-cookies1.4.8.min.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="/Library/angular/angular1.2.28.min.js"></script>
    <script src="/Library/angular/angular-cookies1.2.28.js"></script>
    <![endif]-->

    <!--[if lte IE 9]>
    <script src="/Library/others/Placeholders.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="/Library/others/json2.js"></script>
    <![endif]-->

    <script src="/Service/entityClass/laEntityClass.js"></script>
    <script src="/Service/serviceImpl/laGlobalServiceImpl.js"></script>
    <script src="/Service/serviceImpl/laOrderServiceImpl.js"></script>
    <script src="/Service/serviceImpl/laUserServiceImpl.js"></script>
    <script src="/Service/serviceImpl/laAir.js"></script>

    <script type="text/javascript" src="/Library/others/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/Library/others/jquery.slide.js"></script>
    <script type="text/javascript" src="/Library/others/hDate.js"></script>
    <script type="text/javascript" src="/Library/others/bootbox.min.js"></script>
    <script type="text/javascript" src="/B2C/js/application.js"></script>
    <script type="text/javascript" src="/Library/others/Base64.js"></script>
    <script type="text/javascript" src="/Library/others/popup_layer.js"></script>

    <script src="controller/PointsCtl.js"></script>
</head>
<body ng-controller="laAir_MemberPointsPageCtl">

<div ng-include="'/Resource/commonHtml/header.html'"></div>

<div class="wrapper">
    <div class="container personal-wrapper">

        <div ng-include="'LeftMenu.html'"></div>

        <div class="content">
            <div class="panel-sm">
                <div class="vipmessage">
                    <br/>

                    <h2>积分信息</h2>

                    <div class="media-cilent" style="height:120px;">
                        <img src="/Resource/images/hinew.png" style="width:66px;height:66px; float:left;margin: -20px 20px 20px -20px;">
                        <div class="pull-left" style="margin: -10px 25px 10px 25px;">
                            <img ng-if="MemberLevelV==1" src="/Resource/images/cardlevel1.png" style="width:44px;height:44px;">
                            <img ng-if="MemberLevelV==2" src="/Resource/images/cardlevel2.png" style="width:44px;height:44px;">
                            <img ng-if="MemberLevelV==3" src="/Resource/images/cardlevel3.png" style="width:44px;height:44px;">
                            <img ng-if="MemberLevelV==4" src="/Resource/images/cardlevel4.png" style="width:44px;height:44px;">
                        </div>
                        <p style="font-size:14px;font-weight: bold;line-height:30px;margin-top: -10px;">您好：{{PointsList.Name}}</p>
                        <p>会员等级：[{{PointsList.Level}}] 会员</p>
                        <div class="pull-right" style="margin: -35px 25px 10px 25px;">
                            <p style="font-size:14px;font-weight: bold;line-height:30px;margin-top: -10px;">您的卡号是：<span style="font-size: 16px;">{{PointsList.cardNo}}</span></p>
                            <p>可用积分：<span style="color:#e50717;font-size: 16px;">{{PointsList.IntegralLeft}}</span></p>
                        </div>
                        <br><br><br><br>
                        <div class="pull-left">
                            <div style="width:300px; background:#fff; border:3px solid #ddd; border-radius:5px;"></div>
                            <div ng-if="MemberLevelV==1" style="margin-top: -6px;width:25%; background:#fff; border:3px solid #e50717; border-radius:5px;"></div>
                            <div ng-if="MemberLevelV==2" style="margin-top: -6px;width:50%; background:#fff; border:3px solid #e50717; border-radius:5px;"></div>
                            <div ng-if="MemberLevelV==3" style="margin-top: -6px;width:75%; background:#fff; border:3px solid #e50717; border-radius:5px;"></div>
                            <div ng-if="MemberLevelV==4" style="margin-top: -6px;width:100%; background:#fff; border:3px solid #e50717; border-radius:5px;"></div>
                            <br>
                            <p style="margin-left: -10px;float:left;font-size:14px;font-weight: bold;">您的下一个等级是[{{PointsList.NextLevel}}] 会员</p>
                        </div>
                        <div class="pull-right" style="height:25px;margin-top: -10px;border: solid;border-width:1px;border-radius:5px; border-color: gray;">
                            <a href="javascript:;" onClick="$('.modal').modal('show'); " style="padding: 10px;line-height: 25px;">点此可查看[{{PointsList.Level}}]会员权益</a>
                        </div>
                    </div>
                    <div class="pull-left" style="margin: 20px 0 20px 40px;width:100%;">
                        <table cellpadding="0" cellspacing="0" style="width:100%;">
                            <tr>
                                <td align="right" style="width:12.5%;"><span style="font-size: 14px;">总累计积分：</span></td>
                                <td align="left" style="width:12.5%;"><span style="color:#e50717;font-size: 18px;">{{PointsList.IntegralCount}}</span></td>
                                <td align="right" style="width:12.5%;"><span style="font-size: 14px;">奖励积分：</span></td>
                                <td align="left" style="width:12.5%;"><span style="color:#e50717;font-size: 18px;">{{PointsList.BonusIntegral}}</span></td>
                                <td align="right" style="width:12.5%;"><span style="font-size: 14px;">升级积分：</span></td>
                                <td align="left" style="width:12.5%;"><span style="color:#e50717;font-size: 18px;">{{PointsList.LevelUpIntegral}}</span></td>
                                <td align="right" style="width:12.5%;"><span style="font-size: 14px;">升级航段：</span></td>
                                <td align="left" style="width:12.5%;"><span style="color:#e50717;font-size: 18px;">{{PointsList.FlightIntegral}}</span></td>
                            </tr>
                        </table>
                        <!--
                        <span style="width:200px;font-size: 14px;">总累计积分：<span style="color:#e50717;font-size: 18px;">{{PointsList.IntegralCount}}</span></span>
                        <span style="width:200px;font-size: 14px;margin-left: 150px;">奖励积分：<span style="color:#e50717;font-size: 18px;">{{PointsList.BonusIntegral}}</span></span>
                        <br><br>
                        <span style="width:200px;font-size: 14px;">升级积分：<span style="color:#e50717;font-size: 18px;">{{PointsList.LevelUpIntegral}}</span></span>
                        <span style="width:200px;font-size: 14px;margin-left: 150px;">升级航段：<span style="color:#e50717;font-size: 18px;">{{PointsList.FlightIntegral}}</span></span>
                        -->
                    </div>
<!--
                    <div class="text-info">

                        <p class="mship"><label>您好：<span>{{PointsList.Name}}</span>，</label><label>您的卡号是：{{PointsList.cardNo}}</label></p>

                        <p class="mship"><label>会员等级：[{{PointsList.Level}}] 会员，</label><label> 可用积分：<span>{{PointsList.IntegralLeft}}</span></label></p>

                        <p ng-if="MemberLevelV!=4" class="mship"><label>您的下一个等级是[{{PointsList.NextLevel}}] 会员，</label><label><a
                                onClick="$('.modal').modal('show');">点此可查看[{{PointsList.NextLevel}}]会员权益</a></label></p>
                        <p ng-if="MemberLevelV>=4" class="mship"><label>您已是[{{PointsList.Level}}]会员，</label><label><a
                                onClick="$('.modal').modal('show');">点此可查看[{{PointsList.Level}}]会员权益</a></label></p>
                    </div>
                    <div class="text-default">
                        <p class="mship"><label>总累计积分：<span>{{PointsList.IntegralCount}}</span>，</label>
                            <label>升级积分：<span>{{PointsList.LevelUpIntegral}}</span></label>
                            <label>升级航段：<span>{{PointsList.FlightIntegral}}</span></label>
                        </p>
                    </div>
                    -->
                </div>
                <br><br><br><br>
                <div class="vipmessage">
                    <h2>积分明细</h2>

                    <div class="media-cilent">
                        <div class="row_filter">
                            <label class="span7">起止日期：
                                <input type="text" autocomplete="off" id="startTime" ng-model="startTime">
                                &nbsp;至&nbsp;
                                <input type="text" autocomplete="off" id="endTime" ng-model="endTime">
                                &nbsp;&nbsp;
                            </label>
                            <label class="span3">积分状态
                                <select style="width:auto" ng-model="approved"
                                        ng-options="t.v as t.t for t in PointsAuditStatus">
                                </select>
                            </label>
                            <label class="pull-right">
                                <a class="btn" href="javascript:;" ng-click="btnQueryClick();">查询</a>
                            </label>
                        </div>
                    </div>
                    <div>
                        <table class="table-paper" border="0" cellpadding="0" cellspacing="0">
                            <thead>
                            <tr>
                                <th>航班日期</th>
                                <th>航班号</th>
                                <th>舱位</th>
                                <th>起始地</th>
                                <th>到达地</th>
                                <th>累计积分</th>
                                <!--<th>奖励积分</th>
                                <th>升级积分</th>-->
                                <th>有效期</th>
                                <th>状态</th>
                                <th>详细信息</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="tr{{$index}}" ng-repeat="P in PointsList.Result track by $index">
                                <td>{{P.FlightDate | date:'yyyy-MM-dd'}}</td>
                                <td>{{P.FlightNo}}</td>
                                <td>{{P.Cabin}}</td>
                                <td>{{P.From}}</td>
                                <td>{{P.To}}</td>
                                <td>{{P.IntegralAccu}}</td>
                                <!--<td>{{P.BonusIntegral}}</td>
                                <td>{{P.IntegralForLevel}}</td>-->
                                <td>{{P.EffectiveDate | date:'yyyy-MM-dd'}}</td>
                                <td>{{getEnumTextPointEnabled(P.Reviewed)}}</td>
                                <td><a href="javascript:;" ng-click="showDetail(P, $index)" style="color:dodgerblue;font-size: 12px;">详细显示</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="submit-pay" style="text-align:right;">
                            <a ng-class="{true:'btn',false:'btn btn-gray'}[pageIndex>1]" href="javascript:;" ng-disabled="pageIndex>1" ng-click="btnPrePageClick();" style="padding: 5px 10px 5px 10px;">上一页</a>&nbsp;&nbsp;
                            <a href="javascript:;" ng-if="pageIndexList[0].p >pageIndexCnt" ng-click="btnPageClick(pageIndexList[0].p -1)">...</a>&nbsp;&nbsp;
                            <span ng-repeat="p in pageIndexList"><a ng-class="{true:'btn', false:'btn btn-gray'}[p.s]" href="javascript:;" ng-click="btnPageClick(p.p);" style="padding: 5px 10px 5px 10px;">{{p.t}}</a>&nbsp;&nbsp;</span>
                            <a href="javascript:;" ng-if="pageIndexList[pageIndexList.length-1].p <totalPage" ng-click="btnPageClick(pageIndexList[pageIndexList.length-1].p +1)">...</a>&nbsp;&nbsp;
                            <a ng-class="{true:'btn',false:'btn btn-gray'}[pageIndex<totalPage]" href="javascript:;" ng-disabled="pageIndex<totalPage" ng-click="btnNextPageClick();" style="padding: 5px 10px 5px 10px;">下一页</a>&nbsp;&nbsp;
                            <span>
                                共{{totalPage}}页&nbsp;&nbsp;到第&nbsp;<input type="text" id="inputPindex" ng-model="inputPageIndex" style="width:20px;">&nbsp;页&nbsp;&nbsp;
                                <a class="btn" href="javascript:;" ng-click="btnGoPage();" style="padding: 5px 10px 5px 10px;">确定</a>
                            </span>
                        </div>
                        <!--
                        <div class="pagination pull-right">
                            <ul>
                                <li class="disabled"><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li class="disabled"><a href="#">»</a></li>
                            </ul>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="divide"></div>
    </div>
</div>

<div class="modal" style="width:700px;">
    <div class="modal-body" style="max-height:600px; overflow-y:scroll;">
        <table class="table-paper table" border="0" border="0" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <th></th>
                <th ng-if="MemberLevelV==1 ">尊享礼遇</th>
                <th ng-if="MemberLevelV==1 || MemberLevelV==2 ">银卡</th>
                <th ng-if="MemberLevelV==2 || MemberLevelV==3 ">金卡</th>
                <th ng-if="MemberLevelV==3 || MemberLevelV==4 ">钻石卡</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="4">预订专享</td>
                <td ng-if="MemberLevelV==1 ">7*24小时贵宾服务专线</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">优先座位选择</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">优先候补机位</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">优先保证付费机票定做</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是（起飞前48小时内）</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是（起飞前48小时内）</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是（起飞前48小时内）</td>
            </tr>
            <tr>
                <td rowspan="2">登机专享</td>
                <td ng-if="MemberLevelV==1 ">专享值机柜台</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">长龙会员服务柜台</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">头等舱服务柜台</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">头等舱服务柜台</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">优先登机</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td rowspan="4">行李专享</td>
                <td ng-if="MemberLevelV==1 ">额外托运行李限额</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">10公斤/1件</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">20公斤/1件</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">优先处理托运行李</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">特别手提行李限额</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">5公斤</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">10公斤</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">优先提取行李</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td rowspan="3">专享贵宾室</td>
                <td ng-if="MemberLevelV==1 ">享用机场贵宾室</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">同行贵宾</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">1名</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">1名</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">兑换机场贵宾室使用券</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td rowspan="3">贵宾专属<br>额外礼遇</td>
                <td ng-if="MemberLevelV==1 ">额外的积分奖励</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">15%</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">30%</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">额外获赠机场贵宾室使用券</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">1张</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">2张</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">5张</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">额外获赠机票升舱券</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">1张</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">2张</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">5张</td>
            </tr>
            <tr>
                <td rowspan="2">不正常<br>航班时</td>
                <td ng-if="MemberLevelV==1 ">专享待遇</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">享受公务舱地面服务待遇</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">享受头等舱地面服务待遇</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">享受头等舱地面服务待遇</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">同行贵宾</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">1名同享金卡待遇</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">1名同享金卡待遇</td>
            </tr>
            <tr>
                <td rowspan="2">票务专享</td>
                <td ng-if="MemberLevelV==1 ">机票免费变更及退票</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">奖励机票的免费变更</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td rowspan="7">会籍假期</td>
                <td ng-if="MemberLevelV==1 ">是</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">尊享专用邮箱</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">优先尊享推广活动及计划</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">航空杂志</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">生日尊享问候</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 ">是</td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">生日尊享礼物</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 ">是</td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            <tr>
                <td ng-if="MemberLevelV==1 ">贵宾提名</td>
                <td ng-if="MemberLevelV==1 || MemberLevelV==2 "></td>
                <td ng-if="MemberLevelV==2 || MemberLevelV==3 "></td>
                <td ng-if="MemberLevelV==3 || MemberLevelV==4 ">是</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .modalDet{
        display: none;
        position: fixed;
        top: 10%;
        left: 40%;
        z-index: 990;
        width: 750px;
        margin-left: -280px;
        background-color: #ffffff;
        border: 1px solid #eee;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    }
</style>
<div class="modalDet" style="border-radius: 5px; top:45%; left:52%; display:none;" id="divmsgcontent">
    <div class="modal-body">
        <div class="tabs">
            <div class="vipmessage" style="width:700px; padding-left: 0;">
                <h2>积分详细</h2>
                <span style="float:right; margin-top: -23px;"><a id="divclosemsgcontent" href="javascript:;">关闭</a></span><br><br>
            </div>
            <div class="tab-content" style="margin-top: -30px;">
                <div style=" overflow-y:scroll;">
                    <table class="table-paper" border="0" cellpadding="0" cellspacing="0">
                        <thead>
                        <tr>
                            <th>航班日期</th>
                            <th>航班号</th>
                            <th>舱位</th>
                            <th>起始地</th>
                            <th>到达地</th>
                            <th>累计积分</th>
                            <!--<th>奖励积分</th>
                            <th>升级积分</th>-->
                            <th>有效期</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{curP.FlightDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{curP.FlightNo}}</td>
                            <td>{{curP.Cabin}}</td>
                            <td>{{curP.From}}</td>
                            <td>{{curP.To}}</td>
                            <td>{{curP.IntegralAccu}}</td>
                            <!--<td>{{curP.BonusIntegral}}</td>
                            <td>{{curP.IntegralForLevel}}</td>-->
                            <td>{{curP.EffectiveDate | date:'yyyy-MM-dd'}}</td>
                            <td>{{getEnumTextPointEnabled(curP.Reviewed)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function (){

        var today = new Date();
        $("#startTime").click(function (e){
            calendar.show({
                id: this,
                minDay: '2010-1-1',
                ok: function () {
                    //callback ;
                }
            });
        });
        $("#endTime").click(function (e){
            if($(this).attr("readOnly")){
                return;
            }else{
                calendar.show({
                    id: this,
                    minDay: $("#startTime").val(),
                    ok: function () {
                        //callback ;
                    }
                });
            }
        });
    });
</script>

<div ng-include="'/Resource/commonHtml/footer.html'"></div>

</body>
</html>