<!DOCTYPE html>
<html lang="en" ng-app="laAir">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache, must-revalidate">
    <meta http-equiv="Cache" content="no-cache">
    <script src="/Library/others/tingyun-rum.js"></script>

    <title>长龙航空</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=yes"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="keywords" content="长龙,浙江长龙航空,长龙航空,长龙航空官网,长龙航空官方网站,特价机票,长龙航空机票预定,机票查询,打折机票"/>
    <meta name="description" content="长龙航空官方网站，提供航班查询、飞机票查询、机票预订、网上订票的一站式服务。了解特价打折机票，关注航班动态，可拨打24小时客服热线：0571-8999 9999"/>
    <link rel="canonical" href="http://www.loongair.cn/"/>

    <link rel='stylesheet' href='/Resource/style/style.css' type='text/css' media='all'>
    <link href="/Resource/images/cl.ico" rel="icon" type="image/x-icon"/>

    <![if !IE]>
    <script src="/Library/angular/angular1.4.8.min.js"></script>
    <script src="/Library/angular/angular-cookies1.4.8.min.js"></script>
    <![endif]>

    <!--[if gte IE 9]>
    <script src="/Library/angular/angular1.4.8.min.js"></script>
    <script src="/Library/angular/angular-cookies1.4.8.min.js"></script>
    <![endif]-->

    <!--[if lte IE 8]>
    <script src="/Library/angular/angular1.2.28.min.js"></script>
    <script src="/Library/angular/angular-cookies1.2.28.js"></script>
    <![endif]-->

    <!--[if lte IE 9]>
    <script src="/Library/others/Placeholders.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="/Library/others/json2.js"></script>
    <![endif]-->

    <script src="/Service/entityClass/laEntityClass.js?v=20161009"></script>
    <script src="/Service/serviceImpl/laGlobalServiceImpl.js?v=20161009"></script>
    <script src="/Service/serviceImpl/laOrderServiceImpl.js?v=20161009"></script>
    <script src="/Service/serviceImpl/laUserServiceImpl.js?v=20161028"></script>
    <script src="/Service/serviceImpl/laAir.js?v=20161009"></script>

    <script type="text/javascript" src="/Library/others/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/Library/others/jquery.slide.js"></script>
    <script type="text/javascript" src="/Library/others/slider.js"></script>
    <script type="text/javascript" src="/Library/others/hDate.js?v=20161009"></script>
    <script type="text/javascript" src="/Library/others/city.js?v=20161009"></script>
    <script type="text/javascript" src="/Library/others/bootbox.min.js"></script>
    <script type="text/javascript" src="/B2C/js/application.js?v=20161009"></script>
    <script type="text/javascript" src="/Library/others/Base64.js"></script>

    <script src="/B2C/controller/homeCtl.js?v=20161028"></script>
</head>
<body ng-controller="laAir_HomePageCtl">
<!--
<div ng-include="'/Resource/commonHtml/header.html'"></div>
-->
<div class="header" ng-controller="laAir_CommonHtmlHeaderCtl">
    <div class="container clearfix">
        <a class="logo pull-left" href="/B2C/home.html"></a>

        <div class="pull-right">
            <div class="searchform">
                <!--
                <input type="text" class="input-search" placeholder="输入关键字搜索"/>
                <button type="submit" class="searchbtn">提交</button>-->

                <div ng-if="UserLogined" style="float:left;">
                    <div class="mymessage" ng-if="userInfo_C.IsFrequentPassenger">
                        <div class="pull-left"><img src="/Resource/images/hi.png" width="32"></div>
                        <p>欢迎{{userInfo_C.Level}}会员{{userInfo_C.Name}}</p>
                        <p>您账户可用积分 <a class="red">{{userInfo_C.Integral}}</a></p>
                    </div>
                    <span ng-if="userInfo_C.IsFrequentPassenger">
                        <a href="javascript:;" ng-click="btnUserLogoutClick();"><img src="/Resource/images/refresh.png"
                                                                                     style="width:18px;height:18px;">&nbsp;退出</a>
                    </span>

                    <div ng-if="!userInfo_C.IsFrequentPassenger">
                        <img src="/Resource/images/welcomebg.png" style="width:150px; margin-top: -2px;">
                        <span style="margin-left: -150px; color:white;width:150px;">
                            <a href="/Member/OrderList.html" style="color:white;">
                                &nbsp;{{userInfo_C.Name}}&nbsp;欢迎来长龙&nbsp;</a>
                        </span>
                        <span>
                            <a href="javascript:;" ng-click="btnUserLogoutClick();"><img src="/Resource/images/refresh.png"
                                                                                         style="width:18px;height:18px;">&nbsp;退出</a>
                        </span>
                    </div>
                </div>

                <div ng-if="!UserLogined" style="float:left;">
                    <span>欢迎来长龙</span>
                    <a href="/Member/Login.html"><img src="/Resource/images/user_login.png"
                                                      style="width:18px;height:18px;">&nbsp;登录</a>
                    <a href="/Member/Register.html"><img src="/Resource/images/user_reg.png"
                                                         style="width:18px;height:18px;">&nbsp;注册</a>
                </div>

                <div style="float:left;">
                    <span>
                        <a class="fortips" data-title="扫描下载客户端" data-name="tooltips" data-tips="<img src='/Resource/images/APP_QRCode.jpg'><img src='/Resource/images/AD_QRCode.jpg'>">客户端<i class="arrow-down"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="topmenu">
        <div class="container">
            <!--
            <ul class="nav">
                <li ng-class="{true:'active',false:''}[isHomeNav]">
                    <a class="overhref" href="/B2C/home.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">首页</a>
                    <a class="outhref" href="/B2C/home.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">首页</a>
                </li>
                <li ng-class="{true:'active',false:''}[isSchTripNav]">
                    <a class="overhref" href="javascript:;" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">机票<i class="arrow-down" style="border-top-color: black;"></i></a>
                    <a class="outhref" href="javascript:;" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">机票<i class="arrow-down" style="border-top-color: white;"></i></a>
                    <div class="secondary_menu hide">
                        <div class="s_menu">
                            <div class="span4">
                                <div>
                                    <img src="/Resource/images/bookplan1.png"><a href="/ETicket/AirlineList.html" style="font-size:14px;">机票预订</a> &nbsp; | &nbsp;
                                    <img src="/Resource/images/bookplan2.png"><a href="/ETicket/QueryOrderDetail.html" style="font-size:14px;">查询订单</a> &nbsp; | &nbsp;
                                    <img src="/Resource/images/bookplan3.png"><a href="/ETicket/Checkin.html" style="font-size:14px;">办理值机</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-class="{true:'active',false:''}[isTravelNav]">
                    <a class="overhref" href="/Travel/Transport/PassengerInfo.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">出行帮助</a>
                    <a class="outhref" href="/Travel/Transport/PassengerInfo.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">出行帮助</a>
                </li>
                <li ng-class="{true:'active',false:''}[isHolidayNav]">
                    <a class="overhref" href="javascript:;" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">长龙假期<i class="arrow-down" style="border-top-color: black;"></i></a>
                    <a class="outhref" href="javascript:;" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">长龙假期<i class="arrow-down" style="border-top-color: white;"></i></a>
                    <div class="secondary_menu hide">
                        <div class="s_menu">
                            <div class="span4">
                                <div>
                                    <img src="/Resource/images/booktic.png"><a href="/Holiday/Holiday.html" style="font-size:14px;">门票</a> &nbsp; | &nbsp;
                                    <img src="/Resource/images/bookcar.png"><a href="/Car/Car.html" style="font-size:14px;">用车</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li ng-class="{true:'active',false:''}[isClubNav]">
                    <a class="overhref" href="/Member/Club.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">会员俱乐部</a>
                    <a class="outhref" href="/Member/Club.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">会员俱乐部</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li ng-if="UserLogined" ng-class="{true:'active',false:''}[isMyInfoNav]">
                    <a class="overhref" ng-if="!userInfo_C.IsFrequentPassenger" href="/Member/MyInfo.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">我的信息</a>
                    <a class="outhref" ng-if="!userInfo_C.IsFrequentPassenger" href="/Member/MyInfo.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">我的信息</a>

                    <a class="overhref" ng-if="userInfo_C.IsFrequentPassenger" href="/Member/MyVipInfo.html" style="display:none;height: 45px;line-height:40px;margin: 10px 10px 0 10px;border-radius:5px 5px 0 0;background-color: white;color:black;">我的信息</a>
                    <a class="outhref" ng-if="userInfo_C.IsFrequentPassenger" href="/Member/MyVipInfo.html" style="height: 45px;line-height:40px;margin: 10px 10px 0 10px;">我的信息</a>
                </li>
            </ul>
            -->
            <ul class="nav">
                <li class="mouseout">
                    <a href="/B2C/home.html">首页</a>
                </li>
                <li class="mouseout">
                    <a href="javascript:;">机票<i class="arrow-down"></i></a>
                    <div class="secondary_menu hide">
                        <div class="s_menu" style="padding: 10px;">
                            <div class="span4" style="width:60%;">
                                <div>
                                    <img class="s_menu_image" src="/Resource/images/bookplan1.png"><a href="/ETicket/AirlineList.html" style="font-size:14px;">机票预订</a> &nbsp; | &nbsp;
                                    <img class="s_menu_image" src="/Resource/images/bookplan2.png"><a href="/ETicket/QueryOrderDetail.html" style="font-size:14px;">查询订单</a> &nbsp; | &nbsp;
                                    <img class="s_menu_image" src="/Resource/images/bookplan3.png"><a href="/ETicket/Checkin.html" style="font-size:14px;">办理值机</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="mouseout">
                    <a href="/Travel/Transport/PassengerInfo.html">出行帮助</a>
                </li>
                <li class="mouseout">
                    <a href="javascript:;">长龙假期<i class="arrow-down"></i></a>
                    <div class="secondary_menu hide">
                        <div class="s_menu" style="padding: 10px;">
                            <div class="span4" style="width:60%;">
                                <div>
                                    <img class="s_menu_image" src="/Resource/images/booktic.png"><a href="/Holiday/Holiday.html" style="font-size:14px;">门票</a> &nbsp; | &nbsp;
                                    <img class="s_menu_image" src="/Resource/images/bookcar.png"><a href="/Car/Car.html" style="font-size:14px;">用车</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--<li class="mouseout">
                    <a href="/Member/Club.html">会员俱乐部</a>
                </li>-->
            </ul>
            <ul class="nav pull-right">
                <li ng-if="UserLogined"  class="mouseout">
                    <a ng-if="!userInfo_C.IsFrequentPassenger" href="/Member/MyInfo.html">我的信息</a>
                    <a ng-if="userInfo_C.IsFrequentPassenger" href="/Member/MyVipInfo.html">我的信息</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="wrapper">
    <div class="banner">
        <!--
        <div class="slidesfull">
            <div class="indexbanner">
                <a style="background-image: url(/Resource/images/loginbg1.jpg)"></a>
                <a style="background-image: url(/Resource/images/loginbg2.jpg);"></a>
            </div>
        </div>
        -->
        <div class="slidesfull">
            <div class="indexbanner">
                <ul>
                    <li ng-repeat="img in IndexImageList | orderBy:'showindex' | filter:{v:true}">
                        <a style="background-image: url({{img.imgUrl}})"></a>
                    </li>
                </ul>
                <ol id="bannerCtrl" class="navListBox">
                    <li ng-repeat="img in IndexImageList | filter:{v:true}" ng-class="{true:'active',false:''}[$index==0]"><a>{{$index + 1}}</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="banner-box">
        <div class="home-box"><!--  home-box-sm-->
            <div class="home-box-tips">
                <p><i class="icon-warning2"></i><a href="/Others/MoreInfo/Tip.html" target="_blank">关于防范短信诈骗的温馨提示</a></p>
            </div>
            <ul class="tab-city" style="height:356px;">
                <li class="active"><a href="javascript:;" data-href="ticket"><i class="br_jpyd">&nbsp;</i>机票预订</a></li>
                <li><a href="javascript:;" data-href="flight"><i class="br_hbdt">&nbsp;</i>航班动态</a></li>
                <li><a href="javascript:;" data-href="pay"><i class="br_wszj">&nbsp;</i>网上值机</a></li>
                <!--
                <li><a href="javascript:;" data-href="mall"><i class="br_mall">&nbsp;</i>商城</a></li>
                -->
            </ul>
            <div class="box-con" style="height:356px;">
                <!--预定机票-->
                <div class="jpyd_con" mark="ticket">
                    <form name="frmQueryFlight">
                        <div class="tab-radiobox">
                            <input type="radio" name="qu_mode" checked="checked" ng-model="qu_mode"
                                   ng-init="qu_mode='0'" value="0" id="srode"/><label for="srode"
                                                                                      class="active">单程</label>
                            <input type="radio" name="qu_mode" ng-model="qu_mode" value="1" id="drode"
                                   style="display:none;"/><label for="drode" style="display:none;">往返</label>
                        </div>
                        <p><span>出发城市</span><input type="text" autocomplete="off" placeholder="出发城市" title="出发城市"
                                                   required
                                                   id="startCity" ng-model="qu_startCity"
                                                   ng-init="qu_startCity='';qu_startCityCode=''"
                                                   style="background: url(/Resource/images/location.png) no-repeat right; margin-top: 2px; background-size: 19px 25px;"/>
                        </p>

                        <p><span>到达城市</span><input type="text" autocomplete="off" placeholder="到达城市" title="到达城市"
                                                   required
                                                   id="endCity" ng-model="qu_endCity"
                                                   ng-init="qu_endCity='';qu_endCityCode=''"
                                                   style="background: url(/Resource/images/location.png) no-repeat right; margin-top: 2px; background-size: 19px 25px;"/>
                        </p>

                        <p><span>出发时间</span><input type="text" autocomplete="off" id="startTime" style="background-color:transparent;" required
                                                   placeholder="yyyy-mm-dd" readonly ng-model="qu_startTime"
                                                   ng-init="qu_startTime=''"/></p>

                        <p style="display:none;"><span>返程时间</span><input type="text" autocomplete="off" id="endTime" style="background-color:transparent;"
                                                                         placeholder="yyyy-mm-dd"
                                                                         readonly ng-model="qu_endTime"
                                                                         ng-init="qu_endTime=''"/></p>

                        <p class="btn-center"><a id="btnQueryTicket" class="btn" href="javascript:;" ng-click="btnQueryTicketClick();">搜索航班</a>
                        </p>
                    </form>
                    <div class="change_con"><a href="javascript:;" id="change">换</a></div>
                    <p class="btn-center divide-top" style="text-align: left;">严禁携带额定能量超过160Wh的充电宝;携带额定能量超过100Wh但不超过160Wh的充电宝,必须经航空公司批准且不得超过两个.</p>
                </div>
                <!--/预定机票-->
                <!--在线值机-->
                <div class="wszj_con" style="display:none" mark="pay">

                    <form id="frmOnlineCheckIn">
                        <div class="tab-radiobox">
                        </div>
                        <input type="hidden" id="Key" name="Key"/>

                        <p><span>查询类型</span>
                            <select id="CType" name="CType" ng-model="QueryCheckinInfo.FoidType" ng-options="t.v as t.t for t in CheckinTypeOptions">
                            </select>
                        </p>
                        <p><span>查询号码</span><input type="text" name="CNumber" id="CNumber" ng-model="QueryCheckinInfo.Foid" placeholder="请输入正确的查询号码"
                                                   title="请输入正确的查询号码"/></p>

                        <p><span>乘客姓名</span><input type="text" name="PName" id="PName" ng-model="QueryCheckinInfo.PassengerName" placeholder="订票时使用的乘客姓名"
                                                   title="订票时使用的乘客姓名"/></p>
                        <!--
                                                <p><span>验 证 码</span><input type="text" name="VerCode" id="VerCode" class="input-small"/><img
                                                        id="imgVerCode" width="88px" height="28px" src="" title="点击切换验证码" alt="点击切换验证码"
                                                        class="yzm_img"/></p>
                                                        -->

                        <p class="btn-center"><a id="btnOnlineCheckIn" class="btn" href="javascript:;" ng-click="btnOnlineCheckInClick();">网上值机</a></p>

                        <!--
                        <p class="btn-center"><a href="javascript:void(0);" id="SearchButton2" class="blue">值机记录查询</a>
                        </p>
-->
                        <p class="btn-center divide-top">温馨提示：婴儿、儿童及特殊旅客暂时不能办理</p>
                        <!--
                                                <p class="btn-center"><a class="tips">《查看网上登机手续服务协议》</a></p>
                                                -->
                    </form>
                </div>
                <!--/网上值机-->
                <!--航班动态-->
                <div class="hbdt_con flight" style="display:none;" mark="flight">
                    <div class="tab-radiobox">
                        <input type="radio" name="flidym" value="0" ng-model="flidymFlag" id="number"/><label for="number" onclick="javascript:$('#sub_flight').show().next().hide();">按航班号</label>
                        <input type="radio" name="flidym" value="1" ng-model="flidymFlag" id="city" checked="checked"/><label for="city" onclick="javascript:$('#sub_flight').hide().next().show();" class="active">按城市</label>
                    </div>
                    <div id="sub_flight" style="display:none">
                        <p><span>航  班  号</span><input type="text" id="flightNum" style="background-color:transparent;" placeholder="GJ+4位数字" title="GJ+4位数字"
                                                      value="GJ"/></p>

                        <p><span>出发时间</span><input type="text" style="background-color:transparent;" autocomplete="off" id="startTime2" placeholder="yyyy-mm-dd"/></p>

                        <p class="btn-center"><a id="btnQueryTicket1" href="javascript:;" class="btn" ng-click="btnQueryFlightDynamic('0');">搜索航班</a></p>
                    </div>
                    <div id="sub_city">
                        <p><span>出发城市</span><input type="text" autocomplete="off" placeholder="出发城市" title="出发城市"
                                                   required
                                                   id="startCity1"
                                                   style="background: url(/Resource/images/location.png) no-repeat right; margin-top: 2px; background-size: 19px 25px;"/>
                        </p>

                        <p><span>到达城市</span><input type="text" autocomplete="off" placeholder="到达城市" title="到达城市"
                                                   required
                                                   id="endCity1"
                                                   style="background: url(/Resource/images/location.png) no-repeat right; margin-top: 2px; background-size: 19px 25px;"/>

                        <p><span>出发时间</span><input type="text" autocomplete="off" style="background-color:transparent;" id="startTime3" required readonly
                                                   placeholder="yyyy-mm-dd"/></p>

                        <p class="btn-center"><a id="btnQueryTicket2" href="javascript:;" class="btn" ng-click="btnQueryFlightDynamic('1');">搜索航班</a></p>
                        <div class="change_con"><a href="javascript:;" id="change1">换</a></div>
                    </div>
                </div>
                <!--/航班动态-->
                <!--商城-->
                <div class="hbdt_con" style="display:none;" mark="mall">
                    <div class="thumbnail"><img src="../Resource/images/res.png"></div>
                </div>
                <!--商城-->
            </div>
        </div>
    </div>
</div>
<div class="wrapper">

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="clearfix">
                    <h2 class="imghead pull-left">国内特价机票</h2>
                    <div class="pull-right startcity_select">
                        <a class="city_select">
                            <span class="icon-location"></span>
                            <input type="text" id="startcity2" placeholder="切换出发城市" />
                            <!--<span class="arrow-down"></span>-->
                            <a href="javascript:;" ng-click="btnQuerySpecialTicket()"><img src="/Resource/images/cc_06.png" style="width:17px;height:16px;"></a>
                        </a>
                    </div>
                </div>
                <div class="forsale_tickets">
                    <div>
                        <div class="row" ng-repeat="tics in SpecialTiclist">
                            <div class="span2" ng-if="tic != null" ng-repeat="tic in tics track by $index">
                                <div class="s_pricetag">
                                    <a href="javascript:;" ng-click="btnSpeciTicketQuery(tic);">
                                        <span class="s_pricetag_p">￥<i>{{tic.Price}}</i></span>
                                        <span>{{tic.DepartureAirportCH}}-{{tic.ArriveAirportCH}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="fnbtn pt_prev" style="cursor:pointer;"></a>
                    <a class="fnbtn pt_next" style="cursor:pointer;"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <div>
                    <ul class="xconbox" name="rmmd" style="display: block;">
                        <li>
                            <a href="/Others/PopDestination/Dalian.html" target="_blank"><img src="/Resource/images/cp1.jpg" class="img"></a>
                            <div class="hd" style="display: block;"><a href="/Others/PopDestination/Dalian.html" target="_blank">盛夏新航线</a></div>
                        </li>
                        <li>
                            <a href="/Others/PopDestination/HangzhouBeijing.html" target="_blank"><img src="/Resource/images/cp2.jpg" class="img"></a>
                            <div class="hd"><a href="/Others/PopDestination/HangzhouBeijing.html" target="_blank">杭州=北京霸气之旅</a></div>
                        </li>
                        <li>
                            <a href="/Others/PopDestination/Nanjing.html" target="_blank"><img src="/Resource/images/cp3.jpg" class="img"></a>
                            <div class="hd"><a href="/Others/PopDestination/Nanjing.html" target="_blank">傣家人的乐土</a></div>
                        </li>
                        <li class="last-li">
                            <a href="/Others/PopDestination/Lijiang.html" target="_blank"><img src="/Resource/images/cp4.jpg" class="img"></a>
                            <div class="hd"><a href="/Others/PopDestination/Lijiang.html" target="_blank">壮丽东南第一州</a></div>
                        </li>
                        <!--<li><a><div class="txt"><a class="more">更多旅程&gt;</a></div></a></li>-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="divide"></div>
        <div class="row">
            <div class="span3" style="width:33.33%;">
                <h2 class="imghead">促销与优惠</h2>

                <div class="describe">
                    <p>国内机票最高优惠30%.....</p>

                    <p>长龙航空让您的旅途轻松、愉快</p>
                </div>

                <!-- <a class="more" href="/Others/Promotion/MorePromotion.html" target="_blank">更多促销与优惠&gt;</a> -->
                <span class="more" style="font-size: 14px;color: #aeaeae;">更多促销与优惠&gt;</span>
            </div>
            <div class="span4" style="width:34%;height:224px;">
                <ul class="ads" style="margin:0;">
                    <li class="imgads">
                        <a href="/Others/News/News.html?ID=29" target="_blank">
                            <img src="/Resource/images/loongairBK.jpg" style="width:100%; height:229px;"></a>

                        <div class="hd" style="position: absolute;bottom: 0;left: 0;width: 100%;height: 50px;line-height: 50px;text-align:center;background:#eedbcd;background:rgba(224,183,152,0.5);color: #fff;">
                            <a href="/Others/News/News.html?ID=29"
                               style="font-size:16px;font-weight:500;color: white; margin-bottom: 30px;" target="_blank">超级经济舱现已优化升级</a></div>
                    </li>




                    <!--
                    <li class="imgads"><a href="/Others/Promotion/Chifeng.html" target="_blank"><img
                            src="/Resource/images/limg.jpg" width="271" height="112"></a></li>
                    <li class="slides"><a href="/Others/Promotion/Xinjiang.html" target="_blank"><img
                            src="/Resource/images/limg2.jpg" width="271" height="112"></a></li>
                    -->


                    <!--<li class="JQ-slide slides">
                        <ul class="slidetexts JQ-slide-content">
                            <li><div class="textads"><p>长龙假期 爆款推荐</p><p>$800/人起</p></div></li>
                            <li><div class="textads"><p>长龙假期 爆款推荐</p><p>$1200/人起</p></div></li>
                            <li><div class="textads"><p>长龙假期 爆款推荐</p><p>$880/人起</p></div></li>
                        </ul>
                        <div class="JQ-slide-nav"><a class="prev" href="javascript:void(0);">&#8249;</a><a class="next" href="javascript:void(0);">&#8250;</a></div>
                    </li>-->
                </ul>
            </div>
            <div class="span5" style="float: right;width:325px;height:229px;">
                <div class="news" style="padding-right:0;">
                    <h2 class="imghead" style="padding-bottom: 10px;">新闻公告</h2>
                    <a class="more" style="float: right; margin-top: -20px;" href="/Others/News/NewsList.html" target="_blank">更多新闻&gt;</a>
                    <ul class="posts tit-list" style="margin-top: 1px;">
                        <li ng-class="{true:'', false:'odd'}[$index % 2 ==0]" ng-repeat="nw in NewsList|filter:{v:true} track by $index" ng-if="$index<=4" style="overflow: hidden;">
                            <a href="/Others/News/News.html?ID={{nw.n}}" target="_blank" title="{{nw.t}}">{{nw.t}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="divide"></div>
    </div>

</div>

<div class="modal" style="border-radius: 5px;width:700px; left:45%;">
    <div class="modal-body">
        <div class="tabs">
            <ul class="modal-tab clearfix" style="margin-top: 0;">
                <li class="active" data-href="vipbuy">
                    <img src="/Resource/images/logo.png" style="width:80px;height: 33px;">
                    <span style="color:black;font-size: 16px;font-weight: bold; margin-left: 175px;">旅客乘机温馨提示</span>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="art-content" style="text-indent: 20px;line-height: 25px;">
                    <!--
                    <span style="margin: 10px 20px;line-height: 2;">&nbsp;&nbsp;近期，各类机票诈骗短信频繁出现，若您在乘机前接到“您乘坐的航班因XX原因取消，请致电XX电话进行退票和改签”的短信，请引起高度重视，航空公司不会以机械故障、航班取消等为由要求您付款或转账后进行退票改签，谨防欺诈！如遇该情况,请立即拨打长龙航空唯一客服电话0571-89999999进行核实，切勿拨打短信中提供的电话，谨防上当受骗。</span>
                    -->
                    <p>
                        尊敬的旅客：
                    </p>
                    <p>
                        为了各位旅客的乘机安全，根据中国民航航空局公告2016第5号，即《关于禁止航空运输三星Galaxy Note7手机的公告》，经公司研究决定，从10月27日起禁止携带和运输三星Galaxy Note7手机，具体规定如下：
                    </p>
                    <p>
                        一、严禁旅客随身或在手提行李中携带三星Galaxy Note7手机乘机；
                    </p>
                    <p>
                        二、严禁将三星Galaxy Note7手机作为托运行李运输；对于违反上述规定者，公安机关、民航行政机关将根据情节、依照国家有关法律、法规严肃处理。
                    </p>

                    <p>
                        特此通告。
                    </p>

                    <p>&nbsp;</p>

                    <p style="float:right;padding-right: 20px;">
                        浙江长龙航空
                    </p>

                    <p>&nbsp;</p>

                    <p style="float:right;padding-right: 20px;">
                        2016-10-28
                    </p>

                    <p>&nbsp;</p>
                </div>
                <div class="vp-submit text_center">
                    <a class="btn " href="javascript:;" ng-click="btnCloseTipClick();">我知道了</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div ng-include="'/Resource/commonHtml/footer.html'"></div>
-->
<div class="footer">
    <div class="container">
        <dl>
            <dd>关于我们</dd>
            <dt><a target="_blank" href="/Others/AboutUs/LoongAir.html">长龙简介</a></dt>
            <dt><a target="_blank" href="/Others/AboutUs/JoinUs.html">长龙招聘</a></dt>
            <dt><a target="_blank" href="/Others/AboutUs/WebSiteMap.html">网站地图</a></dt>
            <dt><a target="_blank" href="/Others/AboutUs/Contact.html">联系我们</a></dt>
        </dl>
        <dl>
            <dd>客户服务</dd>
            <dt><a target="_blank" href="/Others/Custom/ETicketVerify.html">客票验真</a></dt>
            <dt><a target="_blank" href="/Others/Custom/Problem.html">常见问题</a></dt>
            <dt><a target="_blank" href="/Others/Custom/RefundRule.html">退改签规定</a></dt>
            <dt><a target="_blank" href="/ETicket/QueryOrderDetail.html">申请退票</a></dt> <!-- /Others/Custom/RefundApply.html-->
        </dl>
        <dl>
            <dd>飞机上</dd>
            <dt ng-repeat="menu in AirplaneMenuList | orderBy:'i'" ng-if="menu.s"><a target="_blank" href="{{menu.u}}">{{menu.t}}</a></dt>
        </dl>
        <dl>
            <dd>更多信息</dd>
            <dt><a target="_blank" href="/Others/MoreInfo/Partner.html">合作伙伴</a></dt>
            <dt><a target="_blank" href="/Others/MoreInfo/LegalStatement.html">法律声明</a></dt>
            <dt><a target="_blank" href="/Others/MoreInfo/Privacy.html">隐私保护条款</a></dt>
            <dt><a target="_blank" href="/Others/MoreInfo/Transport.html">运输条款</a></dt>

        </dl>
        <dl>
            <dd>联系我们</dd>
            <dt>地址：浙江省杭州市萧山国际机场5号路长龙航空办公大楼</dt>
            <dt>电话：0571-89999999</dt>
            <dt>邮箱：FFP@loongair.cn</dt>
            <dt><a href="mailto:servce@loongair.cn?subject=投诉与建议">投诉建议:Servce@LoongAir.cn</a></dt>
        </dl>
        <div class="clearfix"></div>
    </div>
    <div class="social">
        <div>
            <span>关注我们</span><span>关注长龙航空，给您带来更多惊喜</span>
            <!--<div class="imgs qrcode"><img src="images/weichat.png"></div>-->
            <div class="imgs"><a class="weibo" href="http://weibo.com/3213801462/profile?topnav=1&wvr=5" target="_blank"></a></div>
            <div class="imgs"><a class="weixin" onmouseover="javascript:$(this).find('.popqrcode').show();" onmouseout="javascript:$(this).find('.popqrcode').hide();"><span class="popqrcode"><img src="/Resource/images/weichat.png" style="width:73px;height:74px;"></span></a></div>
        </div>
    </div>
    <div class="foot text_center" style="height:122px;">
        Copyright © 2015 ZheJiang Loong Airlines CO.,Ltd, All Rights Reserved 浙ICP：12006774
        <div style="display: inline-block; margin-left: 10px;height: 60px;">
            <a id="___szfw_logo___" href="https://credit.szfw.org/CX20150724010851200156.html" target="_blank" style=" display: block; line-height: 60px; "><img src="http://icon.szfw.org/cert.png" border="0" style="vertical-align: middle;"></a>
            <script type="text/javascript">(function(){document.getElementById('___szfw_logo___').oncontextmenu = function(){return false;}})();</script>
        </div>
        <div style="width:300px;margin:0 auto; ">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010902001175"
               style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
                    src="/Resource/images/jgwab.png" style="float:left;"/>

                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备
                    33010902001175号</p></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        new Vcity.CitySelector({input: 'startcity2'});

        var today = new Date();

        $("#startTime").focus(function (e) {
            calendar.show({
                id: this,
                minDay: today.getFullYear() + "-" + parseInt(today.getMonth() + 1) + "-" + today.getDate(),
                maxDay: (today.getFullYear()+1) + "-" + parseInt(today.getMonth() + 1) + "-" + today.getDate(),
                mode: "double",
                ok: function () {
                    //callback ;
                }
            });
        });
        $("#startTime").keydown(function (e){
            if (e.keyCode == 9){
                calendar.colse();
            }
        });

        $("#startTime2").focus(function (e) {
            calendar.show({
                id: this,
                minDay: today.getFullYear() + "-" + parseInt(today.getMonth() + 1) + "-" + today.getDate(),
                maxDay: (today.getFullYear()+1) + "-" + parseInt(today.getMonth() + 1) + "-" + today.getDate(),
                mode: "double",
                ok: function () {
                    //callback ;
                }
            });
        });
        $("#startTime2").keydown(function (e){
            if (e.keyCode == 9){
                calendar.colse();
            }
        });

        $("#startTime3").focus(function (e) {
            calendar.show({
                id: this,
                minDay: today.getFullYear() + "-" + parseInt(today.getMonth() + 1) + "-" + today.getDate(),
                maxDay: (today.getFullYear()+1) + "-" + parseInt(today.getMonth() + 1) + "-" + today.getDate(),
                mode: "double",
                ok: function () {
                    //callback ;
                }
            });
        });
        $("#startTime3").keydown(function (e){
            if (e.keyCode == 9){
                calendar.colse();
            }
        });

        $("#endTime").focus(function (e) {
            if ($(this).attr("readOnly")) {
                return;
            } else {
                calendar.show({
                    id: this,
                    minDay: $("#startTime").val(),
                    maxDay: (today.getFullYear()+1) + "-" + parseInt(today.getMonth() + 1) + "-" + today.getDate(),
                    mode: "double",
                    ok: function () {
                        //callback ;
                    }
                });
            }
        });
        $("#endTime").keydown(function (e){
            if (e.keyCode == 9){
                calendar.colse();
            }
        });

        var bannerSlider = new Slider($('.indexbanner'), {
            time: 5000,
            delay: 400,
            event: 'click',
            auto: true,
            mode: 'fade',
            controller: $('#bannerCtrl'),
            activeControllerCls: 'active'
        });

        var bannerSliderprices = new Slider($('.forsale_tickets'), {
            time: 5000,
            delay: 400,
            event: 'click',
            auto: false,
            mode: 'fade',
            controller: $('#forsaleCtrl'),
            activeControllerCls: 'active'
        });
        $(".pt_prev").on('click', function () {
            bannerSliderprices.prev()
        });
        $(".pt_next").on('click', function () {
            bannerSliderprices.next()
        });

        /*
         $(".indexbanner").slide({
         slideContainer: $('.indexbanner a'),
         effect: 'easeOutCirc',
         autoRunTime: 5000,
         slideSpeed: 1000,
         nav: true,
         autoRun: true,
         prevBtn: $('a.prevbtn'),
         nextBtn: $('a.nextbtn')
         });
         */

        /*
         $(".hotPic .JQ-slide").Slide({
         autoPlay: false,
         effect: "scroolX",
         speed: "normal",
         timer: 9000
         });
         $(".slides").Slide({
         effect: "scroolX",
         speed: "normal",
         autoPlay: false,
         timer: 3000
         });
         */

    })
</script>
</body>
</html>
